@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Blog Detay";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="banner-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                @foreach (var blog in Model)
                {
                    <div class="blog-grid-top">
                        <div class="b-grid-top">
                            <div class="blog_info_left_grid">
                                <a href="single.html">
                                    <img src="@blog.Image" class="img-fluid" style="width:730px;height:390px;" alt="Resim bulunamadı">
                                </a>
                            </div>
                            <div class="blog-info-middle">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="far fa-calendar-alt"></i> @blog.Date.ToShortDateString()
                                        </a>
                                    </li>
                                    <li class="mx-2">
                                        <a href="#">
                                            <i class="far fa-thumbs-up"></i> 10 Beğeni
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="far fa-comment"></i> 5 Yorum
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <h3>
                            <a href="single.html">@blog.Title</a>
                        </h3>
                        <p>@blog.Content</p>
                    </div>
                }
                @await Component.InvokeAsync("CommentListByBlog",new{id = ViewBag.commentId})
                @await Html.PartialAsync("~/Views/Comment/AddComment.cshtml")
            </div>
            <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                <div class="right-blog-info text-left">
                    @await Component.InvokeAsync("CategoryList")
                    <div class="tech-btm">
                        <h4>En Çok Okunan Bloglar</h4>
                    </div>
                    @await Component.InvokeAsync("BlogListByMostRead")
                    <hr />
                    <div class="tech-btm">
                        <h4>Son Eklenen Bloglar</h4>
                    </div>
                    @await Component.InvokeAsync("BlogLast3Post")
                    @*<div class="tech-btm">
                        <img src="~/templates/blog/images/banner1.jpg" class="card-img-top img-fluid" style="height:170px;width:330px;" alt="">
                    </div>*@
                    <hr />
                    <div class="tech-btm">
                        <h4>Mail Bültenine Abone Ol</h4>
                    </div>
                    @await Html.PartialAsync("~/Views/Newsletter/SubscribeMail.cshtml")
                </div>
            </aside>
        </div>
    </div>
</section>