<div class="tech-btm">
    @*<p>Yazılım, teknoloji ve diğer bloglar için...</p>*@
    <p>Yazılım, teknoloji ve diğer bloglarlardan haberdar olmak için abone olun</p>
    <form action="/Newsletter/SubscribeMail" method="post">
        <input type="email" placeholder="E-posta adresiniz" name="Email" autocomplete="off" required="" />
        <input type="submit" id="btnSave" style="background-color:#CECECE" value="Kayıt Ol">
    </form>
</div>