@model User
<li class="nav-item nav-profile">
    <a href="#" class="nav-link">
        <div class="nav-profile-image">
            @if (Model.ImageUrl == null)
            {
                <img src="~/templates/admin/img/profile1.png" alt="profile">
            }
            else
            {
                <img src="@Model.ImageUrl" alt="profile">
            }
            <span class="login-status online"></span>
        </div>
        <div class="nav-profile-text d-flex flex-column">
            <span class="font-weight-bold mb-2">@Model.NameSurname</span>
            <span class="text-secondary text-small">@Model.UserName</span>
        </div>
    </a>
</li>