@model Message
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="page-header">
    <h3 class="page-title">@ViewBag.senderName 'den Gelen Mesaj</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Message/InBox">Mesajlar</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mesaj Detayı</li>
        </ol>
    </nav>
</div>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Mesaj Konusu</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Mesaj Tarihi</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.AddedDate, "{0:dd/MM/yyyy - HH:mm}", new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Mesaj Detayı</label>
                    @Html.TextAreaFor(x => x.Detail, 6, 3, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div style="text-align:center">
                    <a href="/Message/InBox" class="btn btn-primary btn-rounded btn-fw mr-2">Mesajlara Dön</a>
                </div>
            </form>
        </div>
    </div>
</div>