@model List<Notification>
@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="page-header">
    <h3 class="page-title">Gelen Bildirimler</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Writer/Dashboard">Anasayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Bildirimler</li>
        </ol>
    </nav>
</div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Bildirim Adı</th>
                        <th>Bildirim Detayı</th>
                        <th>Bildirim Zamanı</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var notification in Model)
                    {
                        <tr>
                            <td>@notification.NotificationType</td>
                            <td>@notification.Detail</td>
                            <td>@notification.AddedDate.ToString("dd/MM/yyyy - HH:mm")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>