@model List<About>
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Hakkımda</h3><br />
        <div class="row inner-sec">
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                @foreach (var about in Model)
                {
                    <div class="blog-grid-top">
                        <div class="blog_info_left_grid">
                            <a href="~/WriterImageFiles/about_image.jpg">
                                <img src="@about.Image" class="img-fluid" style="width:730px;height:300px;" alt="Resim bulunamadı">
                            </a>
                        </div>
                        <h3>@about.Title</h3>
                        <p>@Html.Raw(@about.Content)</p>
                    </div>
                }
            </div>
            <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                <div class="right-blog-info text-left">
                    @await Component.InvokeAsync("CategoryList")
                    <div class="tech-btm">
                        <h4>En Çok Okunan Bloglar</h4>
                    </div>
                    @await Component.InvokeAsync("BlogListByMostRead")
                    <hr />
                    <div class="tech-btm">
                        <h4>Son Eklenen Bloglar</h4>
                    </div>
                    @await Component.InvokeAsync("BlogLast3Post")
                    <hr />
                    <div class="tech-btm">
                        <h4>Mail Bültenine Abone Ol</h4>
                    </div>
                    @await Html.PartialAsync("~/Views/Newsletter/SubscribeMail.cshtml")
                </div>
            </aside>
        </div>
    </div>
</section>