@model IEnumerable<Category>
<div class="tech-btm">
    <h4>Kategoriler</h4>
    <ul class="list-group single">
        @foreach (var category in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/Blog/List/@category.CategoryId" style="color:#6F6F6F">@category.CategoryName</a>
                <span class="badge badge-primary badge-pill">@category.Blogs.Count()</span>
            </li>
        }
    </ul>
</div>