<div class="comment-top">
    <div class="comment-bottom">
        <form asp-action="AddComment" asp-controller="Comment" method="post">
            <input class="form-control" type="text" name="NameSurname" style="color:black" placeholder="Ad Soyad" required="">
            <input class="form-control" type="text" name="Email" style="color:black" placeholder="Email" required="">
            <input class="form-control" type="text" name="Subject" style="color:black" placeholder="Konu" required="">
            <textarea class="form-control" name="Message" style="color:black" placeholder="Mesaj..." required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Gönder</button>
        </form>
    </div>
</div>