@model List<User>
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div style="text-align:center">
                    <h4 class="card-title">Yazar Hakkında</h4>
                </div>
                <div class="d-flex mt-5 align-items-top">
                    @foreach (var writer in Model)
                    {
                        <img src="@writer.ImageUrl" class="img-sm rounded-circle mr-3" alt="image">
                        <div class="mb-0 flex-grow">
                            <h5 class="mr-2 mb-2">@writer.NameSurname &nbsp; - &nbsp; @writer.NameSurname &nbsp; - &nbsp; @writer.Email</h5>
                        </div>
                    }
                    <div class="ml-auto">
                        <a href="/Writer/Profile" class="badge badge-success">Profili Gör</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>