<title>Blog Sitesi</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="~/templates/writer/assets/vendors/mdi/css/materialdesignicons.min.css" rel="stylesheet" />
<link href="~/templates/writer/assets/vendors/css/vendor.bundle.base.css" rel="stylesheet" />
<link href="~/templates/writer/assets/css/style.css" rel="stylesheet" />
<link href="~/templates/writer/assets/images/favicon.ico" rel="shortcut icon" />