<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        @await Component.InvokeAsync("WriterProfileNavbar")
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Dashboard">
                <span class="menu-title">Anasayfa</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile">
                <span class="menu-title">Profilim</span>
                <i class="mdi mdi-account-circle menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/BlogListByWriter">
                <span class="menu-title">Bloglarım</span>
                <i class="mdi mdi-file-document-box menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Message/InBox">
                <span class="menu-title">Gelen Mesajlar</span>
                <i class="mdi mdi-message-text menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Message/SendBox">
                <span class="menu-title">Giden Mesajlar</span>
                <i class="mdi mdi-message-processing menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Notification/AllNotification">
                <span class="menu-title">Bildirimler</span>
                <i class="mdi mdi-bell-outline menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" target="_blank" href="~/">
                <span class="menu-title">Siteye Git</span>
                <i class="mdi mdi-share menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Account/Logout">
                <span class="menu-title">Çıkış Yap</span>
                <i class="mdi mdi-exit-to-app menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>