@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div>
    <div class="row">
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-danger card-img-holder text-white">
                <div class="card-body">
                    <img src="~/templates/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Eklediğim Blog Sayısı <i class="mdi mdi-file-document-box mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.totalBlogCount</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                    <img src="~/templates/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Gelen Mesaj Sayısı <i class="mdi mdi-message-text mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.totalMessageCount</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-success card-img-holder text-white">
                <div class="card-body">
                    <img src="~/templates/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Gelen Bildirim Sayısı <i class="mdi mdi-bell-outline mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.totalNotificationCount</h2>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("BlogListWriterDashboard")
    @await Component.InvokeAsync("WriterAboutOnDashboard")
    @await Component.InvokeAsync("CategoryListWriterDashboard")
</div>