@model List<User>
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="page-header">
    <h3 class="page-title">Profil Bilgilerim</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Writer/Dashboard">Anasayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profilim</li>
        </ol>
    </nav>
</div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr style="text-align:center">
                        <th>Profil Resmi</th>
                        <th>Adı Soyadı</th>
                        <th>Hakkında</th>
                        <th>Email Adresi</th>
                        <th>Şifre</th>
                        <th>Düzenle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var writer in Model)
                    {
                        <tr style="text-align:center">
                            <td><img src="@writer.ImageUrl" alt="image" /></td>
                            <td>@writer.FullName</td>
                            <td>@writer.UserName</td>
                            <td>@writer.Email</td>
                            <td>*****</td>
                            <td><a href="/Writer/EditProfile/@writer.Id" class="badge badge-warning">Düzenle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>