<!DOCTYPE html>
<html lang="tr">
<head>
    @await Html.PartialAsync("~/Views/Shared/UserLayoutPartial/_HeadPartial.cshtml")
</head>
<body>
    <header>
        @await Html.PartialAsync("~/Views/Shared/UserLayoutPartial/_HeaderPartial.cshtml")
        @await Html.PartialAsync("/Views/Shared/UserLayoutPartial/_NavbarPartial.cshtml")
    </header>
    @RenderBody()
    @await Html.PartialAsync("~/Views/Shared/UserLayoutPartial/_FooterPartial.cshtml")
    @await Html.PartialAsync("~/Views/Shared/UserLayoutPartial/_ScriptPartial.cshtml")
    @await Component.InvokeAsync("Notyf")
</body>
</html>