<!DOCTYPE html>
<html lang="tr">
<head>
    @await Html.PartialAsync("~/Views/Shared/WriterLayoutPartial/_HeadPartial.cshtml")
</head>
<body>
    <div class="container-scroller">
        @await Html.PartialAsync("/Views/Shared/WriterLayoutPartial/_HeaderPartial.cshtml")
        <div class="container-fluid page-body-wrapper">
            @await Html.PartialAsync("/Views/Shared/WriterLayoutPartial/_NavbarPartial.cshtml")
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                @*@await Html.PartialAsync("/Views/Shared/WriterLayoutPartial/_FooterPartial.cshtml")*@
            </div>
        </div>
    </div>
    @await Html.PartialAsync("/Views/Shared/WriterLayoutPartial/_ScriptPartial.cshtml")
    @await Component.InvokeAsync("Notyf")
</body>
</html>