@model List<Blog>
<div class="tech-btm">
    @foreach (var blog in Model)
    {
        <div class="blog-grids row mb-3 text-left">
            <div class="col-md-5 blog-grid-left">
                <a href="single.html">
                    <img src="@blog.Image" class="card-img-top img-fluid" style="width:130px;height:85px" alt="Resim bulunamadı">
                </a>
            </div>
            <div class="col-md-7 blog-grid-right">
                <h5>
                    <a href="/Blog/Detail/@blog.BlogId">@blog.Title</a>
                </h5>
                <div class="sub-meta">
                    <span>
                        <i class="far fa-clock"></i> @blog.AddedDate.ToString("dd/MM/yyyy")
                    </span>
                </div>
                <div class="sub-meta">
                    <span>
                        Kategori: @blog.Category.CategoryName
                    </span>
                </div>
            </div>
        </div>
    }
</div>